doctype html
html
  head
    title Sungkyunkwan Coffee
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/javascript/script.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  
  body    
  
    #mySidenav.sidenav
      if !member_id
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact

      else
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact
        a(herf='javascript:void(0)', id='LogoutBtn', class='logoutbtn', onclick='closeNav()', style="cursor:pointer") Logout
        
    #overlay
      table#nav_table.navbar.navbar-light.fixed-top
        tr(width='100%')
          td
            a#my_title.navbar-brand(href='/main')
              img(src='image/logo2.jpg', width='150', height='45')           
          td
            ul.nav.navbar
              if !member_id
                a.nav-link(href='/login')
                  span.glyphicon.glyphicon-user

                a.nav-link(href='/cart')
                  span.glyphicon.glyphicon-shopping-cart

                a.nav-link( onclick="openNav()") 
                  span.glyphicon.glyphicon-menu-hamburger
              else
                a.nav-link(href='/info')
                  span.glyphicon.glyphicon-user

                a.nav-link(href='/cart')
                  span.glyphicon.glyphicon-shopping-cart

                a.nav-link(onclick="openNav()") 
                  span.glyphicon.glyphicon-menu-hamburger

        h2.text-center(style='padding-top:30px') About
        h3.text-center(style='padding-top:10px; font-size: 17px')
          | BEST COFFEE OF SUNGKYUNKWAN
          br 
          | 최고의 커피를 전해 드리고 싶은 SKKU COFFEE!
          br
        h3.text-center(style='padding-top:10px; font-size: 17px')
          | SKKU COFFEE는 품질과 혁신에 최선을 다하여 
          br
          | SKKU COFFEE를 찾는 모든 고객에게 최고의 커피 경험을 
          br
          | 제공함으로 누구나 마음껏 커피를 즐길 수 있는 
          br
          | 커피 대중화의 선도적 역할을 수행하겠습니다.

        h2.text-center.txtSize30 SKKU COFFEE VISION

        .sub_body.text-center.dis_ib.ma_t30
          li(style='list-style:none')
            h5.text-center.titleST07.ma_t15.ma_b20 자부심
            p.txtST01.txtSize18.ma_b20.txtLH22
              | SKKU COFFEE는 최고의 품질을, 합리적인
              br
              | 가격으로 2배의 고객가치를 실현합니다.
            p.txtST01.txtSize14.ma_b20.txtLH22
              | 국제 공인 Q그레이더가 원산지부터 생두까지
              br
              | 까다롭게 선별한 최고등급의 원두로 SKKU COFFEE만의
              br
              | 색이 입혀진 블랜딩과 로스팅으로 고객에게
              br
              | 언제나 신선하고 맛있는 커피를 제공합니다. 
              br
              | 최고 품질의 커피를 합리적인 가격으로
              br
              | 제공함으로 누구나 부담 없이 마음껏 즐기고
              br
              | 늘 머무르고 싶은 곳이 되도록 SKKU COFFEE는
              br
              | 항상 고객을 최우선으로 생각하겠습니다.

          li(style='list-style:none')
            h5.titleST07.ma_t15.ma_b20 경쟁력
            p.txtST01.txtSize18.ma_b20.txtLH22
              | SKKU COFFEE는 업계 최고의 경쟁력으로
              br
              | 커피 시장의 트랜드를 주도합니다.
            p.txtST01.txtSize14.ma_b20.txtLH22
              | SKKU COFFEE는 업계 최고의 경쟁력으로
              br
              | 커피 시장의 트랜드를 주도합니다.
              br
              | SKKU COFFEE는 15년 동안 꾸준히 쌓아온
              br 
              | 검증된 경력과 운영 노하우를 바탕으로
              br
              | 성장하고 발전해왔습니다. 
              br
              | 프랜차이즈 운영에 가장 필수적인
              br
              | 메뉴 개발, 물류시스템, 로스팅팩토리,
              br
              | 커피 아카데미 시스템을 보유하여
              br
              | 업계 최고의 경쟁력으로 커피시장의
              br
              | 트랜드를 주도하겠습니다.

          li.lastR(style='list-style:none')
            h5.titleST07.ma_t15.ma_b20 상생발전
            p.txtST01.txtSize18.ma_b20.txtLH22
              | SKKU COFFEE는 고객님의 최고의 파트너가
              br
              | 되기 위해 분야별 전문가와 함께합니다.
            p.txtST01.txtSize14.ma_b20.txtLH22
              | SKKU COFFEE를 찾는 모든 고객에게 언제
              br
              | 어디서나 한결같은 최고의 커피를
              br
              | 제공해 드리기 위해 SKKU COFFEE와 함께 하는
              br
              | 가맹 점주님에게 성공적인 창업과
              br
              | 안정된 수익을 보장하기 위해
              br 
              | SKKU COFFEE는 오늘도 꾸준한 투자와 
              br
              | 연구를 통해 고객님의 
              br
              | 최고의 파트너가 되겠습니다.
              