doctype html
html
  head
    title Sungkyunkwan Coffee
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/javascript/script.js')
    script(type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=5p0ubk39hj")
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  
  body
    
    #mySidenav.sidenav
      if !member_id
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact

      else
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact
        a(herf='javascript:void(0)', id='LogoutBtn', class='logoutbtn', onclick='closeNav()', style="cursor:pointer") Logout
    #overlay
      table#nav_table.navbar.navbar-light.fixed-top
        tr(width='100%')
          td
            a#my_title.navbar-brand(href='/main')
              img(src='image/logo2.jpg', width='150', height='45')           
          td
            ul.nav.navbar
              if !member_id
                a.nav-link(href='/login')
                  span.glyphicon.glyphicon-user

                a.nav-link(href='/cart')
                  span.glyphicon.glyphicon-shopping-cart

                a.nav-link( onclick="openNav()") 
                  span.glyphicon.glyphicon-menu-hamburger
              else
                a.nav-link(href='/info')
                  span.glyphicon.glyphicon-user

                a.nav-link(href='/cart')
                  span.glyphicon.glyphicon-shopping-cart

                a.nav-link(onclick="openNav()") 
                  span.glyphicon.glyphicon-menu-hamburger

      h2.text-center(style='padding-top:30px') Contact

      h3.text-center.ma_b15(style='padding-top:12px; font-size: 23px') 주소
        br
        p(style='font-size: 18px; margin-top: 10px') 경기도 수원시 장안구 율천동 서부로 2066 16419
      h3.text-center.ma_b25(style='padding-top:10px; font-size: 23px;') 전화번호
        br
        p(style='font-size: 18px; margin-top: 10px') 031-290-5114
      #map(style="width:100%;height:400px;")
      script.
        var mapOptions = {
        center: new naver.maps.LatLng(37.2934133, 126.975737),
        zoom: 10
        };
        var map = new naver.maps.Map('map', mapOptions);
        var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.2933330, 126.974637),
        map: map
        });