doctype html
html
  head
    title Sungkyunkwan Coffee
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/javascript/script.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
  
  body
    
    #mySidenav.sidenav
      if !member_id
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact

      else
        a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
        a(href="/about") About
        a(href="/menu") Menu
        a(href="/events") Events
        a(href="/contact") Contact
        a(herf='javascript:void(0)', id='LogoutBtn', class='logoutbtn', onclick='closeNav()', style="cursor:pointer") Logout

    #overlay
      #my_nav.navbar.navbar-light.navbar-expand-lg.fixed-top
        a#my_title.navbar-brand(href='/main')
          img(src='image/logo2.jpg', width='150', height='45')
        
        ul.nav.navbar
          if !member_id
            a.nav-link(href='/login')
              span.glyphicon.glyphicon-user

            a.nav-link(href='/cart')
              span.glyphicon.glyphicon-shopping-cart

            a.nav-link( onclick="openNav()") 
              span.glyphicon.glyphicon-menu-hamburger
          else
            a.nav-link(href='/info')
              span.glyphicon.glyphicon-user

            a.nav-link(href='/cart')
              span.glyphicon.glyphicon-shopping-cart

            a.nav-link( onclick="openNav()") 
              span.glyphicon.glyphicon-menu-hamburger 

      h2.text-center(style='padding-top:30px') 비밀번호 찾기
      h3.text-center(style='padding-top:5px') Welcome!
      h3.text-center(style='padding-top:10px') SKKU COFFEE에 오신 것을 환영합니다!
      
      form(id = "FindPW", style='padding-top:10px')
          p 아이디
            input#findID(type='text', name='id', style='margin-left:55px')
          p 전화번호
            input#find_phone(type='text', name='phone', value='010', Readonly, style='margin-left:42px', size='1')
            input#find_phone1(type='text', name='phone1', style='margin-left:13px', size='4')
            input#find_phone2(type='text', name='phone2', style='margin-left:13px', size='4')
          p    
            button#find_pwBtn.btn.btn-light(type='button') 찾기

