doctype html
html
  head
    title Sungkyunkwan Coffee
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    script(src='/javascript/script.js')
    link(rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type="text/javascript", src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
    script(type="text/javascript", src="/javascript/jquery.mtz.monthpicker.js")



    link(rel='stylesheet', type='text/css',  href='stylesheets/style.css')
  
  body
    
    #mySidenav.sidenav
      a(herf='javascript:void(0)', class='closebtn', onclick='closeNav()', style="cursor:pointer") X
      a(href="/order2") 주문 관리
      a(href="/sales") 매출 관리
      a(href="/ingredient") 재료 관리
      a(href="/customer") 고객 관리
      a(href="/shop") 매장 관리
      a(herf='javascript:void(0)', id='LogoutBtn', class='logoutbtn', onclick='closeNav()', style="cursor:pointer") Logout

    #overlay
      #my_nav.navbar.navbar-light.navbar-expand-lg.fixed-top
        a#my_title.navbar-brand(href='/manage')
          p(style='font-size:25px') 관리자 페이지
        
        ul.nav.navbar
          a.nav-link( onclick="openNav()") 
            span.glyphicon.glyphicon-menu-hamburger 

      h2.text-center(style='padding-top:30px') 매출 관리
      h3.text-center.ma_b15(style='padding-top:30px; font-size: 18px') 매출검색 테이블로 만들기
      h3.text-center.ma_b15(style='padding-top:30px; font-size: 18px') 테이블을 따로 만들기 (실시간 매출, 날짜별 매출, 총 매출, 가장 많이 팔린 커피 순위)
      
      #left.text-center
        h3.ma_b15.ma_l15 매출 검색

        table
          thead
            tr
              th(width='1%') 
              th(width='1%') 
              th(width='1%')
          tbody
        h3.ma_b15.ma_l15 1. 총 매출
          button#SalesTotalBtn.btn.btn-light(type='submit', onclick='loadSales()', style="margin-left: 120px;") 검색
        h3.ma_b15.ma_l15 2. 날짜별 매출
          input#sales_date(type='text', name='order_date', placeholder='yyyy-mm-dd', autocomplete="off")
          button#SalesBtn_date.btn.btn-light(type='submit') 검색
        h3.ma_b15.ma_l15 3. 월별 매출
          input#sales_month(type='text', name='order_month', placeholder='   yyyy-mm', autocomplete="off")
          button#SalesBtn_month.btn.btn-light(type='submit') 검색
      
      #center.text-center
        h3.ma_t15.ma_b15(style="position: relative") 커피 순위
        table#rank_table
          thead
            tr
              th(width='1%') 순 위
              th(width='1%') 커피 이름
              th(width='1%') 판매량
          tbody


        
      #sales
        table#sales_table
          thead
            tr(width='100%')
              th(width='1%') 번호
              th(width='3%') 아이디 
              th(width='3%') 주문 음료
              th(width='1%') 수량     
              th(width='5%') 주문 날짜
              th(width='3%') 주문 금액
          tbody

          tfoot
            tr
              th.hidden
              th(colspan="5") 총 판매 금액  
              th#total_cost 0원

