h1
{
	background-image:url("../image/academics.jpg");
	font-size:100px;
	color:white;
	text-align:center;
	vertical-align:center;
	margin-top:120px;

}

h2
{
	margin-top:70px;
	margin-bottom:30px;
	font-size:40px;
}

h3
{
	margin-top:10px;
	font-size:20px;
}

h4
{
	font-size:25px;
	color:#2962e5;
	font-style:italic;

	margin-top: 120px;
}

p
{
	font-size:15px;
	margin : 10px;
}



 /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 9999; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 50% auto; /* 15% from the top and centered */
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
            border-radius: 10px;                          
        }
        /* The Close Button */
        .close {
            color: #aaa;
            margin-left: 150px;
            margin-top: 10px;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

#sales_date{
	margin-left: 15px;
	border-color: #dddddd;
	height: 25px;
	width: 70px;
	font-size: 12px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#info_table{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	width:100%;
}   

#info_table tr{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	text-align: center;
}   

#info_table th{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;

	font-size:20px;
}  



#info_table td{
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin:10px;
	font-size:15px;
}  

#RegisterForm table
{
	font-size:18px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	margin:10px;
	width: 95%;
	text-align: center;
}

#RegisterForm th
{
	background-color: #F2F2F2;
	padding-left:13px;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 15px;
	text-align: left;
}


#RegisterForm td{

	padding-left:10px;
	text-align: left;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 12px;
}

#Option_table table
{
	font-size:18px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;
	margin:10px;
	width: 95%;
	text-align: center;
}

#Option_table th
{
	background-color: #F2F2F2;
	padding-left:13px;
	height :50px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;
	font-size: 15px;
	text-align: left;
}

#Option_table td
{
	padding-top: 10px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;
}


#menu_table table
{
	font-size:18px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;
	width: 100%;
	text-align: center;
}

#menu_table th
{
	background-color: #F2F2F2;
	height :50px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;
	font-size: 15px;
}


#menu_table td{
	padding-top: 10px;
	border-style: solid;
	border-width: 0px;
	border-color: #dddddd;

}
#menu_table{

	position: absolute;
}


#cart_table{
	padding-top: 50px;
	position: absolute;
}


#cart_table th
{
	background-color: #F2F2F2;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 14px;
	text-align: center;
}

#cart_table td
{
	
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 12px;
	text-align: center;
}

#order2_table{
	padding-top: 50px;
	position: absolute;
}




#order2_table th
{
	background-color: #F2F2F2;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 14px;
	text-align: center;
}

#order2_table td
{
	
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 12px;
	text-align: center;
}

#user_table{
	padding-top: 50px;
	position: absolute;
}




#user_table th
{
	background-color: #F2F2F2;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 14px;
	text-align: center;
}

#user_table td
{
	
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 12px;
	text-align: center;
}

#sales_table{
	padding-top: 50px;
	position: absolute;
}

#sales_table th
{
	background-color: #F2F2F2;
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 14px;
	text-align: center;
}

#sales_table td
{
	
	height :50px;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;
	font-size: 12px;
	text-align: center;
}

#SalesBtn{
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-size: 12px;
	border-radius: 5px;
	margin-left: 10px;
}

.menuimg{
	position: relative;
	padding: 5px;
	width: 190px;
	height: 250px;
	border-radius: 10px;

}

#img{
	position: relative;
	padding: 5px;
	width: 190px;
	height: 250px;
	border-radius: 10px;

}

.OrderBtn{
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-size: 14px;
	width: 45%;
	border-radius: 5px;
}

#OrderBtn{
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-size: 14px;
	width: 45%;
	border-radius: 5px;
}

.PutInBtn{
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-size: 14px;
	width: 45%;
	border-radius: 5px;
}

#btn0{
	position: relative;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px;
	font-size: 14px;
	width: 100%;
	border-radius: 5px;
}


.nav.navbar span{
	font-size: 34px;
	padding-left: 10px;
	padding-top: 10px;	
	color: black;
	cursor: pointer;
}



.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 15px 10px 1px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  color: #585858;
  position: absolute;
  top: 1px;
  left: 120px;
  font-size: 36px;
  margin-right: 0px;
}


.writing{
	position: relative; 
	width: 400; 
	height: 375px; 
	top: -30px;  
	margin:0 
	padding:0; 
}

.banner {
	position: relative; 
	width: 400; 
	height: 400px; 
	top: 50px;  
	margin:0 
	auto; 
	padding:0;
	padding-top:20px;
	overflow: 
	hidden;
}

.banner ul {
	position: absolute; 
	margin: 0px; 
	padding:0; 
	list-style: none; 
}

.banner ul li {
	float: left; 
	width: 450; 
	height: 400px; 
	margin:0; 
	padding:0;

}
#findName,#findID,#find_phone,#find_phone1,#find_phone2{
	text-align: center;
	border-style: solid;
	border-radius: 5px;
}

#myid{
	border-style: solid;
	border-radius: 5px;
	width: 100%;
}

#pass{
	border-style: solid;
	border-radius: 5px;
	width: 100%;
}

#RegisterBtn{
	background-color:black;
	border-radius: 5px; 
	color:white; 
	width:100%;
}

#LoginBtn{
	background-color:black;
	border-radius: 5px; 
	color:white; 
	width:100%;
}

#find_idBtn{
	background-color:black;
	border-radius: 5px; 
	color:white; 
	width:100%;
}

#find_pwBtn{
	background-color:black;
	border-radius: 5px; 
	color:white; 
	width:100%;
}

#LoginForm{
	margin-top:40px;
	text-align: center;
}
#RegisterForm{
	margin-top:40px;
	text-align: left;
}

#register_name{
	text-align: center;
}
.register p input{
	text-align: center;
}

.hidden
{
	display: none;
}

#logo{	
	width: 100%;
	text-align: center;
}

#my_nav{
	background-color: white;
	padding: 1px;
}

.sub_body{
	width:100%; 
	display:inline-block; 
	position:relative;
}

.dis_ib{
	display:inline-block
}

.vsList{width: 996px; margin-left:330px; margin-right:auto;}
.vsList li{width:275px; text-align:center; float:left; margin-right:45px;}
.vsList li p{letter-spacing:-0.5px; *letter-spacing:-1px;}
.vsList li.lastR{margin-right:auto;}

.txtSize12{font-size:12px;}
.txtSize14{font-size:14px;}
.txtSize15{font-size:15px; letter-spacing:-1px;}
.txtSize16{font-size:16px; letter-spacing:-0.5px; *letter-spacing:-1px;}
.txtSize18{font-size:18px; letter-spacing:-1px; }
.txtSize19{font-size:19px; letter-spacing:-1px; }
.txtSize20{font-size:20px; letter-spacing:-1px; line-height:29px;}
.txtSize26{font-size:26px; line-height:26px; letter-spacing:-1px; *letter-spacing:-1px;}
.txtSize30{font-size:30px; line-height:35px; letter-spacing:-1px; *letter-spacing:-1px;}
.txtSize35{font-size:35px; line-height:35px; letter-spacing:-1px; *letter-spacing:-1px;}

.titleST01{font-size:30px; line-height:30px; color:#333; font-family:'NotoSansKRBold','NanumGothicExtraBold'; }
.titleST02{font-size:20px; line-height:22px; color:#333; font-family:'NotoSansKRMedium','NanumGothicBold'; }
.titleST03{font-size:22px; line-height:24px; color:#a17952; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.titleST04{font-size:16px; line-height:17px; color:#666; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.titleST05{font-size:16px; line-height:17px; color:#666; font-family:'NotoSansKRMedium','NanumGothicBold'; }
.titleST06{font-size:27px; line-height:28px; color:#40261e; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.titleST07{font-size:24px; line-height:25px; color:#333; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.titleST08{font-size:16px; line-height:18px; color:#d20f0f; font-family:'NotoSansKRBold','NanumGothicExtraBold'; font-weight:normal;}
.titleST09{font-size:24px; line-height:24px; color:#40261e; font-family:'NotoSansKRMedium','NanumGothicBold';}
.titleST10{font-size:18px; line-height:26px; color:#40261e; font-weight:normal;}
.titleST11{font-size:23px; line-height:26px; color:#40261e; font-family:'NotoSansKRBold','NanumGothicExtraBold';} /* 20171117추가 */
.titleST10 > span{font-size:22px; font-family:'NotoSansKRBold','NanumGothicExtraBold';}

.txtLH22{line-height:22px; }
.txtLH24{line-height:24px; }
.txtLH30{line-height:30px; }

.txtST01{color:#666; font-family:'NotoSansKRRegular', 'NanumGothicBold';}
.txtST02{color:#333; font-family:'NotoSansKRRegular', 'NanumGothicBold';}
.txtST03{color:#333; font-family:'NotoSansKRMedium','NanumGothicBold';}
.txtST04{color:#666; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.txtST05{color:#666; font-family:'NotoSansKRMedium','NanumGothicBold';}
.txtST06{color:#493829; font-size:35px; line-height:35px;}
.txtST06 span{font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.txtST07{color:#493829; font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.txtST08{color:#493829; font-size:24px; line-height:24px; letter-spacing:-1.5px; *letter-spacing:-1px;}
.txtST08 span{font-family:'NotoSansKRBold','NanumGothicExtraBold';}
.txtST09{color:#493829; font-family:'NotoSansKRMedium','NanumGothicBold';}


/* MARGIN */

.ma_t2{margin-top:2px;}
.ma_t3{margin-top:3px;}
.ma_t5{margin-top:5px;}
.ma_t7{margin-top:7px;}
.ma_t8{margin-top:8px;}
.ma_t10{margin-top:10px;}
.ma_t12{margin-top:12px;}
.ma_t15{margin-top:15px;}
.ma_t20{margin-top:20px;}
.ma_t25{margin-top:25px;}
.ma_t30{margin-top:30px;}
.ma_t35{margin-top:35px;}
.ma_t40{margin-top:40px}
.ma_t45{margin-top:45px}
.ma_t50{margin-top:50px}
.ma_t60{margin-top:60px} /*20171116추가*/ 
.ma_t70{margin-top:70px} /*20171116추가*/ 
.ma_t80{margin-top:80px} /*20171116추가*/ 
.ma_t100{margin-top:100px} /*20180618추가*/ 

.ma_r0{margin-right:0px;} /*20180618*/
.ma_r7{margin-right:8px;}
.ma_r5{margin-right:5px;}
.ma_r10{margin-right:10px;}
.ma_r25{margin-right:25px;}
.ma_r27{margin-right:27px;}
.ma_r30{margin-right:30px;}
.ma_r35{margin-right:35px;}
.ma_r48{margin-right:48px;}
.ma_r50{margin-right:50px;}
.ma_r65{margin-right:65px;}

.ma_l5{margin-left:5px;}
.ma_l10{margin-left:10px;}
.ma_l15{margin-left:15px;}
.ma_l20{margin-left:20px;}
.ma_l30{margin-left:30px;}
.ma_l40{margin-left:40px;}

.ma_b3{margin-bottom:3px;}
.ma_b5{margin-bottom:5px;}
.ma_b8{margin-bottom:8px;}
.ma_b10{margin-bottom:10px;}
.ma_b15{margin-bottom:15px;}
.ma_b20{margin-bottom:20px;}
.ma_b25{margin-bottom:25px;}
.ma_b30{margin-bottom:30px;}
.ma_b35{margin-bottom:35px;}
.ma_b40{margin-bottom:40px;}
.ma_b50{margin-bottom:50px;}
.ma_b60{margin-bottom:60px;}
.ma_b90{margin-bottom:90px;}
